.firstbold-searchbox {
    margin: 0 auto;
    max-width: 1086px;
    padding: 0 15px;
}

.wrapper-searchbox {
    min-height: 140px;
    position: relative;
}

.firstbold-searchbox__form {
    position: absolute;
    bottom: 50%;
    padding: 10px 40px;
    width: 100%;
    background-color: var(--color-title);
    min-height: 140px;
    border-radius: 20px;
    box-shadow: 0px 10px 50px 0px rgba(61, 55, 241, 0.25);
    display: flex;
    justify-content: center;
    gap: 4.29rem;

    @media (max-width:1024px) {
        gap: 10px;
    }

    @media (max-width:768px) {
        bottom: -30%;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
    }
}

.searchbox-form__item {
    display: flex;
    flex-direction: column;
    min-width: 290px;

    @media (max-width:1024px) {
        min-width: 200px;
    }

    @media (max-width:768px) {
        min-width: 350px;
    }

    @media (max-width:560px) {
        min-width: 290px;
    }

    @media (max-width:360px) {
        min-width: 200px;
    }
}

.searchbox-form__label {
    margin: 1.88rem 0 0.69rem;
    @extend %item__description;
    @include mixFont(1.14rem, 1.5);
    color: var(--primary-color);

    @media (max-width:560px) {
        margin-top: 10px;
    }
}

.searchbox-form__input,
.searchbox-form__select {
    padding: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(119, 120, 176, 1);
    color: var(--primary-color);
    @extend %item__title;
    @include mixFont(1.57rem, 1.3);

}

.searchbox-form__select {
    background-color: var(--color-title);
    appearance: none;
    background-image: url('../assets/icons/form_arrow.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: calc(100% - 25px);
}