.upcoming__loader,
.blog__loader {
    margin: -100px auto 0;
    border: 10px solid var(--primary-color-gradient);
    border-top: 10px solid var(--secondary-color-gradient);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    opacity: 0;
    visibility: hidden;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.upcoming__button,
.blog__button {
    &:focus {
        opacity: 0;
        visibility: hidden;
    }

    &:focus+.upcoming__loader,
    &:focus+.blog__loader {
        opacity: 1;
        visibility: visible;
        animation: spin;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: 2;
    }
}

// .sms{

//     opacity: 0;
//     visibility: hidden;
// }
// @keyframes text {
//     0% { transform: translateX(40px) }
//     100% { transform: translateX(100px); }
// }
// .header__navbar{
//     &:focus + .sms{



//     width: 50px;
//     height: 50px;
// background-color: aqua;
//     opacity: 1;
//     visibility: visible;
//     animation: text;
//     animation-duration: 1s;
//     animation-timing-function: linear;
//     animation-iteration-count: infinite;  
// }}