.navbar__button {
    font-family: 'DM Sans', sans-serif;
    font-weight: var(--item-font-weight);
    color: var(--primary-color);
    padding: 10px 20px;
    border: 1.5px solid var(--primary-color);
    border-radius: 50px;

    &:hover {
        background-color: var(--primary-color);
        border-color: none;
        color: var(--primary-color-gradient);
    }
}

.firstbold-content__button,
.creating-description__button {
    @extend %button;
    color: var(--primary-color);
    border: 1.5px solid var(--primary-color);

    &:hover {
        background-color: var(--primary-color-gradient);
        border-color: var(--primary-color-gradient);
    }
}
.creating-description__button{
    margin: auto;
}
.firstbold-content__button {
    margin-right: 1.43rem;

    @media (max-width:1200px) {
        margin-bottom: 1.25rem;
    }
}

.upcoming__button,
.blog__button {
    @extend %button;
    color: var(--secondary-color-gradient);
    border: 1.5px solid var(--secondary-color-gradient);
}

.footer-subscription__button {
    font-family: 'DM Sans', sans-serif;
    font-weight: var(--description-font-weight);
    color: var(--primary-color);
    padding: 15.2px 30.4px;
    border-radius: 50px;
    background-color: var(--primary-color-gradient);

    &:hover {
        background-color: var(--primary-color);
        color: var(--primary-color-gradient);
    }
}