.section-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.86rem;

    &__title {
        @extend %title;
        color: var(--color-title);
    }

    &__subtitle {
        @extend %subtitle;
        color: var(--color-subtitle);
    }
}