:root {
    --primary-color: rgba(255, 255, 255, 1);
    --primary-color-gradient: rgba(245, 22, 126, 1);
    --secondary-color-gradient: rgba(61, 55, 241, 1);
    --color-title: rgba(36, 37, 101, 1);
    --color-subtitle: rgba(106, 106, 106, 1);
    --color-footer-text: rgba(243, 243, 243, 1);
    --title-font-weight: 700;
    --description-font-weight: 400;
    --item-font-weight: 500;
}